:root{
  font-size: 62.5%;
--primary:black;
--base:white;


}

*,*::after,*::before{
margin: 0;
padding: 0;

}




html,body{
  height: 100%;
  width: 100%;
}

.swiper-slide{
  width: fit-content !important;
  height: fit-content !important;
}

.collection  .swiper-wrapper{

/* gap: 2.5rem !important; */

}