@import "react-spring-bottom-sheet/dist/style.css";
@import "react-international-phone/style.css";

:root {
  font-size: 62.5%;
  --primary: #bababa;
  --base: white;
  --border: #f7665f;
  --text-primary: #43464d;
  --black: #2b2b2b;
  --background: #ebecf2;
  --text-secondary: #707580;
  --progress-background: #4693ee;
  --success: #32a964;
  --error: #eb5757;
  --dark-bg: #2b2b2b;

  /* react bottom sheet variables */
  --rsbs-bg: #ebecf2;

  /* --rsbs-handle-bg */

  --fb-color: #3b5998;
  --whatsapp-color: #25d366;
  --messenger-color: #0084ff;
  --x-color: black;
  --discord-color: #7289da;
  --reddit-color: #ff4500;
  --viber-color: #665cac;
  --teams-color: #6264a7;
  --pinterest-color: #e60023;
  --telegram-color: #0088cc;
  --linkedin-color: #0077b5;
  --instagram-color: #e4405f;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  overscroll-behavior: contain;
  overflow: auto;
  scroll-behavior: smooth;
}

.swiper-slide {
  width: fit-content !important;
  height: fit-content !important;
}

.avatar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) !important;
}
.normal-card {
  background: var(--primary) !important;
  color: var(--text-primary) !important;
  border: 2px double transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.6rem;
}
.highlighted-card {
  border: 2px double transparent;
  border-radius: 0.6rem;
  background-image: linear-gradient(320.4deg, #000, #a5a5a5),
    radial-gradient(circle at top left, #fea259, #fe3f61);
  background-origin: border-box;
  color: var(--base);
  background-clip: padding-box, border-box;
}
.outline-button {
  height: 42px;
  border: 1px solid #000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
}
.primary-button {
  color: white !important;
  height: 42px;
  background: linear-gradient(313.32deg, #262626 8.79%, #707580 93.86%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
}
.secondary-button {
  border: 1px solid var(--black);
  color: var(--black) !important;
  height: 42px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
}
.fitting-card-container {
  padding-bottom: 8rem;
}

.fitting-card-label {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--text-primary);
}

.fitting-card-input-group {
  display: grid;
  align-items: center;
  gap: 1.6rem;
}
.fitting-card-input {
  width: calc(100% - 2rem);
  border-radius: 0.4rem;
  padding: 0 1rem;
  height: 4rem;
  text-align: center;
  font-size: 1.6rem;
  color: var(--black);
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  text-align: center;
}
.fitting-card-input-group {
  background: white;
  border-radius: 0.4rem;
  position: relative;
  display: flex;
  gap: 0rem;
  width: 7rem !important;
  align-items: center;
  justify-content: start;
}
.fitting-card-postfix {
  position: absolute;
  margin-right: 0.4rem;
  right: 0;
  font-size: 1.6rem;
  color: var(--text-primary);
  outline: none;
  text-align: center;
}
.order-card {
  background: linear-gradient(
    335.26deg,
    var(--background) 14.54%,
    var(--base) 58.94%
  );
  box-shadow: rgba(157, 164, 179, 0.4) 0px 10px 30px;
}
.order-card-leather {
  padding: 6px 8px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(74, 74, 74) 61%,
    rgb(140, 140, 140) 100%
  );
  font-size: 10px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.span-text {
  font-weight: bold;
  color: var(--black);
}
/* chakra modal override start */
.css-1oxhx2p {
  align-items: center;
}
/* chakra modal overried end */

/* swiper js style overrides start */

.swiper {
  z-index: 0 !important;
}

/* swiper js style overrides end */

.recommended-size-text {
  margin-bottom: 0.8rem;
  background: linear-gradient(
    129deg,
    rgb(254, 162, 89) 10%,
    rgb(254, 63, 97) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.size-card {
  text-align: center;
  border-radius: 9px !important;
  border: 2px solid transparent;
  padding: 6px;
  aspect-ratio: 2 / 2;
  width: 13vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--base);
}

.size-card-selected {
  border: 2px double transparent;
  border-radius: 9px;
  padding: 6px;
  aspect-ratio: 2 / 2;
  width: 13vw;
  color: var(--base);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#2b2b2b, #2b2b2b),
    radial-gradient(circle at top left, #fea259, #fe3f61);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.recommended-size-text {
  margin-bottom: 0.8rem;
  background: linear-gradient(
    129deg,
    rgb(254, 162, 89) 10%,
    rgb(254, 63, 97) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.size-card {
  text-align: center;
  border-radius: 9px !important;
  border: 2px solid transparent;
  padding: 6px;
  aspect-ratio: 2 / 2;
  width: 13vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--base);
}
.edit-size-card {
  width: 13vw;
  display: flex;
  padding: 8px;
  text-align: center;
  align-items: center;
  margin-left: 10px;
  aspect-ratio: 2 / 2;
  border-radius: 9px !important;
  justify-content: center;
  background-image: linear-gradient(129deg, #fea259 9.14%, #fe3f61 77.08%);
}

.size-card-selected {
  border: 2px double transparent;
  border-radius: 9px;
  padding: 6px;
  aspect-ratio: 2 / 2;
  width: 13vw;
  color: var(--base);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#2b2b2b, #2b2b2b),
    radial-gradient(circle at top left, #fea259, #fe3f61);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.google_autocomplete {
  width: 100% !important;
  border: none !important;
  border-bottom: 1px solid black !important;
}
.google_autocomplete:focus,
.google_autocomplete:active {
  outline: none !important;
  box-shadow: none !important;
}
